@use './variables' as vb;
@use 'sass:map';

// breakpoints
@mixin respond-to($breakpoint) {

  @if map.has-key(vb.$breakpoints, $breakpoint) {

    @media (max-width: map.get(vb.$breakpoints, $breakpoint)) {

      @content;
    }
  }
}


// Button
@mixin button-style($gradient: vb.$gradientButtonOne, $width: vb.$button-width, $height: vb.$button-height) {
  background-image: linear-gradient(to right, $gradient);
  width: $width;
  height: $height;
  border-radius: vb.$border-radius;
  cursor: pointer;
  transition: vb.$transition-normal;

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

// center-flex
@mixin center-flex ($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// spacing
@mixin spacing($property, $size) {
  #{$property}: map-get(vb.$spacing, $size);
}