@use '../baseFiles/variables' as v;

h1 {
  color: v.$white-color-1;
  margin-top: 200px;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.4;
}
@media (max-width: 780px) {
  h1 {
    font-size: 48px;
  }
  @media (max-width: 480px) {
    h1 {
      font-size: 32px;
    }
  }
}


.timer {
  grid-template-columns: repeat(auto-fit, 115px);
  grid-template-rows: repeat(auto-fill, 115px);
  grid-auto-rows: 115px;
  display: grid;
  margin-top: 50px;
  gap: 30px;
}

.timer-block {
  background-color: v.$blackGrayColor;
  align-content: center;
  justify-items: center;
  line-height: 1.4;
}

.timer__number {
  color: v.$white-color-1;
  font-size: 36px;
  font-weight: 600;
}

.timer-text {
  color: v.$white-color-1;
  opacity: 40%;
}

.image__block-bottom {
  display: grid;
  margin-top: 220px;
  height: 130px;
  background-color: v.$blackGrayColor;
}

.grid-students {
  display: grid;
  grid-template-columns: 170px 50px 50px;
}