@use '../baseFiles/variables' as v;
@use '../baseFiles/mixins' as m;

.about__company {
  display: flex;
  margin-top: calc(18px + 200px);
}

.company-text {
  margin-left: 130px;
}

.about__company-discription {
  line-height: 1.6;
  margin-top: 45px
}


.box {
  align-self: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: max(27,6%, 530px);
  width: 100%;
  aspect-ratio: 530 / 500;
  background-color: rgb(v.$white-color-1, 0);
  border: 30px solid;
  border-image: linear-gradient(to right, v.$gradientButtonOne) 1;
}

.computer_rtx {
  position: absolute;
  top: 75px;
  max-width: max(23,22%, 446px);
  width: 100%;
  aspect-ratio: 446 / 446;
}

@include m.respond-to(tablet) {
  .box {
    position: relative;
    max-width: max(27,6%, 530px);
    width: 100%;
    aspect-ratio: 530 / 500;
    background-color: rgb(v.$white-color-1, 0);
    border: 15px solid;
    border-image: linear-gradient(to right, v.$gradientButtonOne) 1;
  }
  .computer_rtx {
    position: absolute;
    @include m.spacing(top, mlg);
  }
  .about__company { 
    margin-top: calc(18px + 50px);
  }
}

@include m.respond-to(large) {
  .about__company {
    flex-flow: row wrap;
  }
  .company-text {
    @include m.spacing(margin-left, zr);
    @include m.spacing(margin-top, lg);
  }
  .about__company-discription {
    font-size: 0.8rem;
    margin-top: 25px;
  }
}

@media (max-width: 1171px) {
  .about__company {
    flex-flow: row wrap;
    margin-top: calc(18px + 50px);
  }
  .company-text {
    margin-left: 0px;
    margin-top: 50px;
  }
  .about__company-discription {
    font-size: 0.8rem;
    margin-top: 25px;
  }
}



