@use '../baseFiles/variables' as v;
@use '../baseFiles/mixins' as m;

.teacher-text {
  .teacher-img {
    @include m.spacing(max-width, lg);
    @include m.spacing(max-height, lg); 
    @include m.spacing(margin-right, mlg);
    rotate: -43deg;
    aspect-ratio: 50 / 50;
    width: 100%;

  }
  display: flex;
  @include m.spacing(margin-top, xxx);
  @include m.spacing(margin-bottom, xxs);
}

@include m.respond-to(large) {
  .teacher-text {
    @include m.spacing(margin-top, xl);
    @include m.spacing(margin-bottom, zr);
  }
}

.teachers {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

.teacher-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .teacher-name {
    @include m.spacing(margin-top, lg);
    @include m.spacing(margin-bottom, sm);
  }
  .teacher-button {
    @include m.spacing(margin-top, md);
    background-color: rgb(v.$white-color-1, 0);
    color: v.$white-color-1;
    outline: 2px solid white;
  }
}

@include m.respond-to(large) {
  .teacher-block {
    @include m.spacing(margin-top, md);
  }
}

