@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
}

.header__button {
  background-image: linear-gradient(to right, #C89AFC, #7C6AFA);
  width: 185px;
  height: 45px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 80px;
  margin-top: 38px;
  width: 100%;
}

.nav__list {
  display: flex;
  color: #7C6AFA;
  gap: 55px;
  align-items: center;
}

.button-link {
  color: white;
  text-decoration: none;
}

/* Базовые стили */
.dropdown {
  position: relative;
  display: inline-block;
}

.burger__button {
  background-image: linear-gradient(to right, #C89AFC, #7C6AFA);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Чтобы кнопка не занимала всю ширину */
}

.dropdown-content {
  display: none; /* Скрыто по умолчанию */
  position: absolute;
  background-image: linear-gradient(to right, #C89AFC, #7C6AFA);
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px #333333;
  z-index: 1; /* Для перекрытия других элементов */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Чтобы ссылки занимали всю ширину */
}

/* Эффекты при наведении на ссылку */
.dropdown-content a:hover {
  background-color: white;
}

/* Показать раскрывающийся список при наведении на кнопку */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Показать раскрывающийся список при наведении на кнопку */
.dropdown:hover .burger__button {
  background-color: #C89AFC;
}

@media (max-width: 1140px) {
  .header__nav {
    gap: 40px;
    justify-content: center;
    margin-inline: 40px;
  }
  .nav__list {
    gap: 15px;
  }
  .header__button {
    width: 130px;
  }
}
@media (max-width: 1140px) and (max-width: 830px) {
  .nav__list {
    display: none;
  }
}
@media (min-width: 830px) {
  .burger__button {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
h1 {
  color: white;
  margin-top: 200px;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.4;
}

@media (max-width: 780px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 780px) and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}
.timer {
  grid-template-columns: repeat(auto-fit, 115px);
  grid-template-rows: repeat(auto-fill, 115px);
  grid-auto-rows: 115px;
  display: grid;
  margin-top: 50px;
  gap: 30px;
}

.timer-block {
  background-color: #121212;
  align-content: center;
  justify-items: center;
  line-height: 1.4;
}

.timer__number {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.timer-text {
  color: white;
  opacity: 40%;
}

.image__block-bottom {
  display: grid;
  margin-top: 220px;
  height: 130px;
  background-color: #121212;
}

.grid-students {
  display: grid;
  grid-template-columns: 170px 50px 50px;
}

.up_background_image {
  background-image: url(/images/main-screen__bgc.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 960px;
  background-size: cover;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Regular.woff2) format(woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16;
  height: 100px;
}

body {
  background-color: #000;
}

button {
  cursor: pointer;
}

.button {
  height: 45px;
  width: 185px;
  border-radius: 50px;
  cursor: pointer;
}

.container {
  margin-inline: 310px;
}

@media (max-width: 1140px) {
  .container {
    margin-inline: 190px;
  }
  .button {
    width: 130px;
  }
}
@media (max-width: 1140px) and (max-width: 830px) {
  .container {
    margin-inline: 100px;
  }
}
@media (max-width: 1140px) and (max-width: 830px) and (max-width: 470px) {
  .container {
    margin-inline: 50px;
  }
}/*# sourceMappingURL=main.css.map */